
.icon-volume-off:before { content: '\e800'; } /* '' */
.icon-volume-down:before { content: '\e801'; } /* '' */
.icon-cw:before { content: '\e802'; } /* '' */
.icon-clock:before { content: '\e803'; } /* '' */
.icon-fast-forward:before { content: '\e804'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */